<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="header-logo">
        <a href="/" style="display: flex; align-items: center;">
            <img th:src="@{/images/logo.png}" alt="StudyLink Logo" style="height: 40px; width: auto;">
        </a>
    </div>

    <div class="header-icons">
        <span class="material-icons-outlined" style="cursor: pointer;" onclick="location.href='/chat'">chat_bubble</span>
        <span class="material-icons-outlined">person</span>
    </div>
</header>
</html>